/* --- Global Styles --- */
* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: 13px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: #EEEEEE; 
  margin: 0px;
  font-weight: 500;
}

/* --- Left Modules --- */
#workspaces,
#custom-uptime,
#cpu, #memory {
  background-color: #2e2e2e;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#memory {
  margin-left: 5px;
}

#workspaces {
  padding: 2px;
  margin-left: 7px;
  margin-right: 5px;
}

#custom-uptime {
  margin-right: 5px;
}

/* Hover effects for left modules */
#cpu:hover {
  border: 1px solid #85d623;
  background-color: #394032; /* Slightly lighter than base background */
}

/* Workspace buttons */
#workspaces button {
  color: #EEEEEE;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #85d623;
  background-color: rgba(133, 214, 35, 0.1); 
}

#workspaces button:hover {
  background: #394032; /* Hover background */
  color: #85d623; /* Highlight color on hover */
}

/* Center Module */
#clock {
  background-color: #2e2e2e;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(133, 214, 35, 0.2);
  min-width: 0;
  border: none;
  color: #85d623; /* Use Dunst highlight color */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Hover effect for clock module */
#clock:hover {
  background-color: rgba(133, 214, 35, 0.1);
  border: 1px solid #85d623;
}

/* Right Modules */
#tray,
#pulseaudio,
#battery {
  background-color: #2e2e2e; /* Match Dunst background */
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  color: #EEEEEE;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#battery:hover {
  background-color: #394032; /* Hover highlight */
}

#battery {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
}

/*
#battery {
  color: #99d1db;;
}

#battery.charging {
  color: #a6d189;
}
#battery.warning:not(.charging) {
  color: #e78284;
}

*/

#tray {
  border-radius: 6px 0 0 6px;
}

/* Tooltip Styles */
tooltip {
  background-color: #2e2e2e; 
  color: #EEEEEE;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(133, 214, 35, 0.3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

